<header>
	<img
		src="https://logos-world.net/wp-content/uploads/2024/01/Trivago-Logo-New.png"
		alt=""
	/>

	<ul>
		<li>
			
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
			Añadir Habitacion
		</li>
		<li>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="icon icon-tabler icon-tabler-menu-2"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
				><path stroke="none" d="M0 0h24v24H0z" fill="none"
				></path><path d="M4 6l16 0"></path><path d="M4 12l16 0"
				></path><path d="M4 18l16 0"></path></svg
			>Menu
		</li>
	</ul>
</header>

<style>
	header {
		width: 100%;
		height: 50px;
		display: flex;
		border-bottom: 1px solid #d3d3d3;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0px;
		box-shadow: 10px 0px 10px #ededed;
	}

	header img {
		padding: 0px 20px;
		width: 110px;
		height: max-content;
	}

	header ul {
		display: flex;
		
		margin-right: 20px;
		align-items: center;
		justify-content: center;
	}

	header ul li {
		cursor: pointer;
		padding: 0px 20px;
		gap: 10px;
		font-weight: 300;
		font-style: normal;
		list-style: none;
		font-size: 14px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 10vh;
	}

	header ul li:hover{
		background-color: #d3d3d32a;
	}

</style>